---
import { Button } from "@/components/ui/button";
import ThemeToggle from "../ui/ThemeToggle.astro";

const sections = [
  {
    label: "About",
    href: "/#about",
  },
  {
    label: "Projects",
    href: "/#projects",
  },
  {
    label: "Experience",
    href: "/#experience",
  },
  {
    label: "Contact",
    href: "/#contact",
  },
];
---

<div class="p-4 border-b border-border">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <span class="font-bold text-lg"> Portfolio </span>

    <div class="flex items-center justify-between gap-2">
      <div class="items-center justify-between gap-2 hidden sm:flex">
        {
          sections.map((section) => (
            <Button href={section.href} variant="link">
              {section.label}
            </Button>
          ))
        }
      </div>

      <Button> Resume </Button>

      <ThemeToggle />
    </div>
  </div>
</div>
