---
import { cn } from "@/utils/cn";
import { type HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"h5"> {}

const { class: className, ...attrs } = Astro.props;
---

<h3
  {...attrs}
  class={cn(
    "flex items-center justify-start gap-2 text-2xl font-semibold tracking-tight",
    className
  )}
>
  <slot />
</h3>
